/* General Styles */

:root {
  --bs-primary: #8490ff;
  --bs-primary-light: #8490ff;
  --bs-secondary: #62bdfc;
  --bs-dark: #04091e;
  --bs-dark-rgb: 4, 9, 30;
  --bs-gradient: linear-gradient(
    to right,
    var(--bs-primary) 0%,
    var(--bs-secondary) 100%
  );
  --bs-link-hover-color: var(--bs-primary);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */

.text-sm {
  font-size: 0.875rem;
}

.transition-colors {
  transition: color 150ms, background-color 150ms;
}

.text-black-50-dark {
  color: #777777;
}

.lh-lg {
  line-height: 1.65 !important;
}

.bg-primary-light {
  background-color: var(--bs-primary-light);
}

.text-primary-light {
  color: var(--bs-primary-light);
}

.hide {
  width: 0;
  padding: 0;
}

.whitespace-nowrap {
  white-space: nowrap;
}

/* Components */

.btn {
  --bs-btn-border-width: 0;
  --bs-btn-border-radius: 0;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.5rem;
}

.btn-primary {
  --bs-btn-bg: var(--bs-gradient);
  background: var(--bs-btn-bg);
  text-transform: uppercase;
}

.btn-primary:hover {
  box-shadow: 0 20px 20px 0 rgb(132 144 255 / 30%);
}

.section {
  padding: 4rem 0;
}

.section-title {
  font-weight: 500;
  text-transform: capitalize;
  margin: 1.5rem 0;
  font-weight: 600;
}

.section-title-sm {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875rem;
}

.form-control {
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
}

.input-group-text {
  border-radius: 0;
  padding: 0.5rem 1.2rem;
}

/* Layout */

/* Navbar */

.navbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  --bs-navbar-color: var(--bs-black);
  --bs-navbar-hover-color: var(--bs-primary);
  --bs-navbar-active-color: var(--bs-primary);
  --bs-navbar-padding-y: 1.5rem;
  --bs-nav-link-font-size: 0.75rem;
}

.offcanvas {
  --bs-offcanvas-bg: rgba(0, 0, 0, 0.9);
}

.offcanvas .navbar-nav {
  --bs-navbar-color: var(--bs-white);
}

/* Brands */

#brands .brand-link {
  opacity: 0.5;
  transition: opacity 250ms;
}

#brands .brand-link:hover {
  opacity: 1;
}

/* Main Content */

/* Services Section */

#services .service h4:hover svg,
#services .service h4:hover a {
  color: var(--bs-primary);
}

/* My Projects */

#my-projects .filters-btns .filter-btn {
  font-size: 12px;
}

#my-projects .filters-btns .filter-btn.active,
#my-projects .filters-btns .filter-btn:hover {
  color: var(--bs-primary);
}

#my-projects .filters-btns .filter-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--bs-dark);
  transition: width 300ms;
}

#my-projects .filters-btns .filter-btn:hover::after {
  width: 60%;
}

#my-projects #projects .project-card {
  transition: all 500ms;
  overflow: hidden;
}

#my-projects #projects .img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-gradient);
  opacity: 0;
  border-radius: 5px;
  transition: opacity 250ms;
}

#my-projects #projects .project-card:hover .img-overlay {
  opacity: 0.7;
}

.borderr{
  border: 20px solid rgba(132, 144, 255, 0.1);
}

.price-btn{
  display: none;
}

.price-card:hover{
  transform: scale(1.05);
  padding-top: 0.5rem;
}

.price-card:hover ,
.price-card:hover li ,
.price-card:hover p {
  background: var(--bs-gradient) ;
    z-index: 2;
    color: #fff !important;
    cursor: pointer;
}
.price-card:hover h1{
  color: black;
}
.price-card:hover .price-btn{
  display: block;
}
.price-card:hover h2{
  display: none;
}

.swiper-slide:hover h5{
  color: var(--bs-primary);
}

.blog-card:hover{
  cursor: pointer;
}
.blog-card:hover .card-img-top{
  transform: scale(1.008);
  overflow: hidden;
}


.blog-card:hover .card-title{
  color: var(--bs-primary);
}

/*------------------------------------*/
